extends layout
block content
    // start about us section
    .about-us
        // start about us heading
        .about-us-heading
            h1 ABOUT US
        // end about us heading
        // start about us content
        .about-us-content
                
            .about-us-paragraph
                if language == 'en'
                    h2 Who we are ?
                    p
                        | We are university students, and because of living far away from the university, every year we face a problem of finding a flat, the problem is in   brokers that they Exploits people to get more money. So RENTAWY will find a solution. RENTAWY is a website that enable people who want to rent a flat to communicate with flats owners directly, beside some other services for students. Flats’ owners can explain their flats by its photos and some data like price for rent, ways of payment. The services are like way to communicate with workshops if they need to fix anything and to communicate with pharmacies, and restaurants. We will get money from advertisements of pharmacies, restaurants and building companies.
                else if language == 'ar'
                    h2 من نحن
                    p.text-right
                        | احنا مجموعة شباب بتواجه مشكله حقيقيه كل سنه وهي ايجار شقه جديده وندخل في دوامة السماسره اللي مابتخلصش واني عشان اتأجر شقه لازم ادفع شهر كامل سمسره واستغلال كبير جدا وممكن يكذب في سعر الشقه الحقيقي ويديهلينا بسعر عالي ..من هنا جتلنا فكرة رنتاوي ايه هو رنتاوي اصلا؟ هو موقع وظيفته الرئيسيه هو نلغي فكرة السمسار وان يكون التعامل مباشرة مع المالك للشقه المالك هيدخل ع الموقع يعرض الشقه بالصور بتاعتها بكل تفاصيلها بسعرها والطالب المناسب معاه الشقه بكل حاجه فيها يبتدي يكلم صاحب الشقه بالكونتاكت اللي هينزلها المالك وينزل كمان طريقة الدفع ايا كانت الوسيله اللي هيتفقو عليها
                        br
                        |  طيب هل الموقع مقتصر ع كدا بس؟ لا خالص ضيفنا للموقع خدمات اخرى بيحتاجها اي طالب في اي سكن زي مثلا النجارين والسباكين والكهربائيين ودا السبب الرئيسي اللي بيخلي المالك يوكل الشقه بتاعته لسمسار عشان يريح دماغه من اسئلة الناس المأجره ..احنا لغينا السمسار ووفرنا الخدمات دي في الموقع بتاعنا من ضمن الخدمات التانيه اللي وفرناها هي الصيدليات والمستشفيات المحيطه بالمكان اللي هو فيه وكمان ارقام مطاعم لاننا اغلبنا بنشتري اكل من بره دا موقعنا ببساطه شديده 

                
